@model AgendaDelConsultorio.Models.turno

@{
    ViewData["Title"] = "Eliminar";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estás seguro que desea eliminarlo?</h3>
<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTurno.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Apellido)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TurnoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
