@model IEnumerable<AgendaDelConsultorio.Models.Especialidad>

@{
    ViewData["Title"] = "Especialidad";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Añadir</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEspecialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEspecialidad.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EspecialidadId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EspecialidadId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EspecialidadId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
